@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;

  --color-primary-red: #c62828;
  --color-primary-red-hover: #b71c1c;
  --color-brand-green: #43a047;
  --color-brand-green-hover: #388e3c;
  --color-brand-gold: #c5b358;
  --color-success-green: #10b981;
  --color-footer-zinc: #18181b;
  --color-secondary-gray: #f9fafb;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  --animate-marquee: marquee 60s linear infinite;
  --animate-marquee2: marquee2 60s linear infinite;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    @apply font-bold;
  }
}